<div class="py-5">
    <p class="text-xl md:text-2xl text-park font-bold py-5 text-center">- ブックマーク一覧 -</p>
  </div>
  <div class="px-8 flex justify-center items-center md:justify-between flex-col md:flex-row gap-y-8 xl:gap-x-5 lg:gap-x-5 sm:gap-x-5 pb-8  grid xl:grid-cols-4 lg:grid-cols-3  sm:grid-cols-2">
  <% @bookmark_parks.each do |bookmark_park| %>
    <%= link_to park_path(bookmark_park), class: "card bg-base-100 shadow-xl flex flex-col md:gap-x-10", style: "height: 380px;" do %>
      <figure>
        <div>
          <% if bookmark_park.park_images.present? %>
            <%= image_tag bookmark_park.park_images.first.url.url, class: "w-full h-auto object-cover" %>
          <% else %>
            <%= image_tag 'park.jpg' %>
          <% end %>
        </div>
      </figure>
      <div class="card-body bg-white rounded-lg">
        <p class="card-title border-b-2 border-slate-200"><%= bookmark_park.name %></p>
      </div>
    <% end %>
  <% end %>
</div>

  <div class="px-8 flex justify-center items-center">
    <%= link_to '気になる公園を見つけよう！', search_path, class: "bg-accent btn btn-primary me-2 w-auto font-semibold" %>
  </div>
</div>