<%= turbo_frame_tag current_user do %>
  <div class="flex justify-center items-center py-10">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
      <%= form_with model: @user, url: profile_path(@user), local: true do |f| %>
        <div class="border-b-2 border-slate-200 pb-6">
          <p class="pb-4">
            <%= f.label :プロフィール画像, class: "font-bold" %>
          </p>
          <%= f.file_field :avatar, class: "file-input file-input-bordered file-input-secondary w-full max-w-xs", style: "max-height: 40px;" %>
          <p class="text-sm pt-2">選択可能なファイル形式はjpg,jpeg,pngのみです<p>
        </div>
        <div class="flex justify-center border-b-2 border-slate-200 pt-4 pb-1">
          <p class="font-bold"><%= User.human_attribute_name(:name) %></p>
          <p class="text-park pl-4">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "pl-3 mt-1 block placeholder-gray-400 rounded-lg border-2 border-gray-200" %>
          </p>
        </div>
        <div class="flex justify-center border-b-2 border-slate-200 pt-4 pb-1">
        <% is_google_account = @user.sns_credential_ids.present? %>
          <p class="font-bold"><%= User.human_attribute_name(:email) %></p>
          <% if is_google_account %>
            <p class="pl-3 mt-1 block placeholder-gray-400 rounded-lg border-2 border-gray-200"><%= current_user.email%></p>
          <% else %>
            <p class="text-park">
              <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "pl-3 mt-1 block placeholder-gray-400 rounded-lg border-2 border-gray-200" %>
            </p>
          <% end %>
        </div>
          <% if is_google_account %>
            <p class="text-sm pt-2">Googleアカウントの為メールの編集はできません<p>
          <% end %>
        <div class="pt-7 w-full">
          <%= f.submit '更新', class: "btn btn-secondary me-2 w-full" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>