<div class="text-center">
  <p class="text-park">- <%=  @tokyo_ward.name %> -<p>
  <div class="flex justify-center items-center">
    <p class="text-park text-3xl md:text-4xl py-3 border-b-2 border-park w-60"><%=  @park.name %><p>
  </div>
  <p class="text-park py-5 md:pb-20">キャッチフレーズ<p>
</div>

<div class="flex justify-center items-center md:justify-between flex-col md:flex-row md:gap-x-10">
  <div class="card bg-base-100 shadow-xl flex flex-col md:flex-row w-full h-auto md:h-full object-cover">
    <figure class="rounded-md">
      <div>
        <% @park_images.each do |park_image| %>
          <% if park_image.url.present? %>
            <%= image_tag park_image.url.url %>
          <% end %>
        <% end %>
      </div>
    </figure>
  </div>
  <div class="card-body bg-white rounded-md w-full h-auto md:h-full object-cover">
      <h2 class="card-title pb-2 pl-3 border-b-2 border-slate-200 text-park">
        公式サイト
        <%= link_to 'こちら', "#{@park.website_url}", class: "badge badge-secondary border-b-2 border-park text-park" %>
      </h2>
      <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
        <p class="w-1/3 pl-8">料金<p>
        <p>-<p>
      </div>
      <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
        <p class="w-1/3 pl-8">飲食<p>
        <p>-<p>
      </div>
      <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
        <p class="w-1/3 pl-8">飲酒<p>
        <p>-<p>
      </div>
      <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
        <p class="w-1/3 pl-8">シート<p>
        <p>-<p>
      </div>
      <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
        <p class="w-1/3 pl-3">遊具の持ち込み<p>
        <p>-<p>
      </div>
      <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
        <p class="w-1/3 pl-3">おすすめの理由<p>
        <p>-<p>
      </div>
      <button class="btn" onclick="my_modal_2.showModal()">画像を追加する</button>
        <dialog id="my_modal_2" class="modal">
          <div class="modal-box">
            <p class="text-park font-bold pb-5 text-center">画像を追加してね<p>
            <%= render 'park_images/form', park_image: @park_image %>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
    </div>
  </div>
</div>


<div class="flex justify-center items-center flex-col">
  <div style="width: 90%; height: 300px;">
  <%= render 'shared/map' %>
  </div>

  <div class="py-5 md:w-1/2">
  <p class="text-xl text-park font-bold py-5 text-center">- みんなの投稿 -<p>
    <div class="card w-80 bg-base-100 shadow-xl">
      <figure>
        <% @park_reports.each do |park_report| %>
          <div>
            <% park_report.report_images.each do |report_image| %>
              <% if report_image.url.present? %>
                <%= image_tag report_image.url.url %>
              <% end %>
            <% end %>
          </div>
      </figure>
      <div class="card-body">
        <p><%= park_report.date %><p>
        <h2 class="card-title"><%= park_report.comment %></h2>
        <% end %>
      </div>
    </div>
  </div>
</div>

