<div class="flex-grow container mx-auto px-6 py-5">
  <div class="text-center">
    <% if @park.catchphrase.present? %>
      <p class="text-park text-xl pb-5"><%= "#{@park.catchphrase}" %></p>
    <% else %>
      <p class="text-park pb-5">キャッチフレーズ募集中<p>
    <% end %>
    <p class="text-park">- <%=  @tokyo_ward.name %> -<p>
    <div class="flex justify-center items-center pb-8 md:pb-20">
      <p class="text-park text-3xl md:text-4xl py-5 px-8 border-b-2 border-park w-auto"><%=  @park.name %><p>
    </div>
  </div>

  <div class="flex justify-center items-center md:justify-between flex-col md:flex-row md:gap-x-10 px-3">
    <div class="card bg-base-100 shadow-xl flex flex-col md:flex-row w-full h-auto md:h-full object-cover">
      <figure class="rounded-md">
        <div>
          <% if @park_images.present? %>
            <%= image_tag @park_images.first.url.url %>
          <% else %>
            <%= image_tag 'park.jpg' %>
          <% end %>
        </div>
      </figure>
    </div>
    <div class="card-body bg-white rounded-md w-full h-auto md:h-full object-cover">
        <h2 class="card-title pb-2 pl-3 border-b-2 border-slate-200 text-park">
          公式サイト
          <% if @park.website_url.present? %>
            <%= link_to 'こちら', "#{@park.website_url}", class: "badge badge border-b-2 border-park text-park" %>
          <% else %>
            <p class="badge badge border-b-2 border-park text-park">なし<p>
          <% end %>
          <% if user_signed_in? %>
            <%= render 'bookmark_button', { park: @park } %>
          <% else %>
            <%= link_to new_user_session_path  do %>
              <i class="fa-regular fa-heart pl-5", style="font-size: 40px;"></i>
            <% end %>
          <% end %>
        </h2>
        <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
          <p class="w-1/3 pl-8"><i class="fa-solid fa-yen-sign pr-5"></i>入場料</p>
          <p class="pl-10"><%= @park.fee %></p>
        </div>
        <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
          <p class="w-1/3 pl-8"><i class="fa-solid fa-utensils pr-4"></i>飲食</p>
          <p class="pl-10"><%= @park.display_permission_value(:food_allowed) %></p>
        </div>
        <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
          <p class="w-1/3 pl-8"><i class="fa-solid fa-champagne-glasses pr-3"></i>飲酒</p>
          <p class="pl-10"><%= @park.display_permission_value(:alcohol_allowed) %></p>
        </div>
        <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
          <p class="w-1/3 pl-8"><i class="fa-solid fa-bacon pr-3"></i>シート</p>
          <p class="pl-10"><%= @park.display_permission_value(:sheet_available) %></p>
        </div>
        <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
          <p class="w-1/3 pl-8"><i class="fa-regular fa-futbol pr-3"></i>持ち込み遊具</p>
          <p class="pl-10"><%= @park.display_permission_value(:bringing_in_play_equipment) %></p>
        </div>
        <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
          <p class="w-1/3 pl-8"><i class="fa-solid fa-fire-burner pr-3"></i>BQQ場</p>
          <p class="pl-10"><%= @park.display_permission_value(:bbq_area) %></p>
        </div>
        <div class="flex justify-between border-b-2 border-slate-200 pb-1 text-park">
          <p class="w-1/3 pl-8"><i class="fa-solid fa-dog pr-3"></i>ドッグラン</p>
          <p class="pl-10"><%= @park.display_permission_value(:dog_run) %></p>
        </div>
        <div class="flex flex-col  justify-between px-3 border-b-2 border-slate-200 pb-1 text-park">
          <p class="pl-5"><i class="fa-solid fa-heart pr-3"></i>おすすめの理由</p>
          <p class="pl-10"><%= @park.recommended_points %></p>
        </div>
        <% if @park_images.empty? %>
          <div class="text-park text-center">
            <p>- <%= "#{@park.name}" %>の画像がまだありません -</p>
          </div>
        <% end %>
        <button class="btn" onclick="my_modal_2.showModal()">画像を追加する</button>
          <dialog id="my_modal_2" class="modal">
            <div class="modal-box">
              <p class="text-park font-bold text-center">- <%= "#{@park.name}" %>の画像を追加してね -</p>
              <p class="text-park font-bold pb-5 text-center">⚠︎追加した画像は消せません</p>
              <%= render 'park_images/form', park_image: @park_image %>
            </div>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
      </div>
    </div>
    <p class="text-park text-sm pt-5">※飲酒は、禁止されている公園以外△とさせていただいております。他のお客様のご迷惑にならぬよう、節度を守って楽しみましょう。詳しくは
      <% if @park.website_url.present? %>
        <%= link_to '公式サイト', "#{@park.website_url}", class: "font-bold" %>
      <% end %>
      をご確認ください。
    </p>


    <div class="flex justify-center items-center flex-col py-10">
      <div style="width: 90%; height: 300px;">
        <%= render 'shared/map' %>
      </div>

      <div class="pt-5">
        <p class="text-xl md:text-2xl text-park font-bold py-5 text-center">- みんなの公園日記 -</p>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <% if @park_reports.empty? %>
            <p class="text-park text-center">まだ投稿がありません<p>
          <% end %>
            <p class="text-park text-center pb-5"><%= "#{@park.name}" %>の思い出を投稿する<p>
          <%= link_to '投稿する', new_park_report_path(park_name: @park.name, tokyo_ward_id: @tokyo_ward.id), class: "btn me-2 w-full font-semibold" %>
        </div>
      </div>
      <div class="pt-5 px-8 flex justify-center items-center md:justify-between flex-col md:flex-row gap-y-8 xl:gap-x-5 lg:gap-x-5 sm:gap-x-5 pb-8  grid xl:grid-cols-4 lg:grid-cols-3  sm:grid-cols-2">
        <% @park_reports.each do |park_report| %>
          <%= link_to park_report_path(park_report), class: "card-link" do %>
            <div class="card bg-base-100 shadow-xl flex flex-col md:gap-x-10" style="height: 380px;">
              <figure>
                <div>
                  <% if park_report.report_images.present? && park_report.report_images.first.url.present? %>
                    <%= image_tag park_report.report_images.first.url.url, class: "w-full h-auto object-cover"%>
                  <% else %>
                    <%= image_tag 'default.png' %>
                  <% end %>
                </div>
              </figure>
              <div class="card-body bg-white rounded-lg">
                  <p><%= park_report.date %></p>
                  <div class="flex items-center">
                    <div class="pr-5"><%= park_report.user.name %>さん</div>
                    <div>
                      <% if park_report.user.avatar.present? %>
                        <%= image_tag park_report.user.avatar.url, class: "w-10 h-10 rounded-full border border-park" %>
                      <% else %>
                        <%= image_tag 'avatar.jpg', class: "w-10 h-10 rounded-full border border-park" %>
                      <% end %>
                    </div>
                  </div>
                  <p class="card-title"><%= park_report.title %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>