<div class="text-park">
  <h2 class="text-center text-3xl">管理者ログイン</h2>

  <div class="flex justify-center items-center pt-10">
    <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
      
      <div class="field">
        <%= f.label :email, class: "pl-3" %><br />
        <%= f.email_field :email, autofocus: true, class: "py-3 px-5 mt-1 block w-full placeholder-gray-400 border-2 border-primary rounded-lg", placeholder: "メールアドレスを入力" %>
      </div>

      <div class="field pt-5">
        <%= f.label :password, class: "pl-3" %><br />
        <%= f.password_field :password, class: "py-3 px-5 mt-1 block w-full placeholder-gray-400 border-2 border-primary rounded-lg", placeholder: "パスワードを入力" %>
      </div>

      <div class="mt-8">
        <button type="submit" class="btn btn-secondary border-park w-full">
          <%= f.submit t('helpers.submit.login') %>
        </button>
      </div>
    <% end %>
  </div>
</div>


