<%= form_with(model: @park_report, url: park_report_path, remote: true, local: true, class: "justify-between item-center") do |f| %>
  <div class="my-5 flex flex-col px-5">
    <%= f.label :date, "日付(任意)" %>
    <%= f.date_field :date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="mt-8 mb-8 flex flex-col px-5">
    <%= f.label :comment, "ひとこと" %>
    <%= f.text_field :comment, placeholder: '思ったことを自由に記入', class: "textarea textarea-primary" %>
  </div>
  <div class="btn btn-ghost rounded-btn hover:bg-slate-200 text-park mt-5 w-full">
    <%= f.submit '登録する' %>
  </div>
<% end %>