<div class="py-5">
  <p class="text-xl md:text-2xl text-park font-bold py-5 text-center">- <%= current_user.name %>さんの公園日記 -</p>
</div>
<div class="flex justify-center items-center pb-5">
  <p class="btn text-lg md:text-xl text-park font-semibold hover:bg-slate-200" onclick="ward_collection.showModal()">行った23区の数 : <%= @visited_wards_count %> 個</p>
  <dialog id="ward_collection" class="modal">
    <div class="modal-box">
      <%= render 'ward_collection' %>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</div>
<div class="px-8 flex justify-center items-center md:justify-between flex-col md:flex-row gap-y-8 xl:gap-x-5 lg:gap-x-5 sm:gap-x-5 pb-8  grid xl:grid-cols-4 lg:grid-cols-3  sm:grid-cols-2">
  <% @park_reports.each do |park_report| %>
    <div class="card bg-base-100 shadow-xl flex flex-col md:gap-x-10" style="height: 380px;">
      <figure>
        <div>
          <% if park_report.report_images.present? && park_report.report_images.first.url.present? %>
            <%= image_tag park_report.report_images.first.url.url, class: "w-full h-auto object-cover"%>
          <% else %>
            <%= image_tag 'default.png' %>
          <% end %>
        </div>
      </figure>
      <div class="card-body bg-white rounded-lg">
          <p><%= park_report.date %></p>
        <%= link_to "#{park_report.park.name}", park_path(park_report.park), class: "card-title hover:bg-slate-200 rounded-lg px-4 py-1" %>
        <p class="border-b-2 border-slate-200"></p>
        <%= link_to "#{park_report.title}", park_report_path(park_report), class: "pl-5 text-park font-bold hover:bg-slate-200 rounded-lg px-4 py-1" %>
      </div>
    </div>
  <% end %>
</div>

<div class="px-8 flex justify-center items-center">
    <%= link_to '公園の思い出を投稿する', new_park_report_path, class: "bg-accent btn btn-primary me-2 w-auto font-semibold" %>
</div>