<div class="flex-grow container mx-auto px-6 py-5">
  <div class="flex justify-center items-center">
    <h2 class="text-2xl md:text-3xl lg:text-4xl text-park text-center font-bold pb-5 px-8 border-b-2 border-park">
      パスワード変更
    </h2>
  </div>
  <div class="flex justify-center items-center py-10">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex flex-col">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
            <div class="field">
              <%= f.label :password, "新しいパスワード", class: "text-park font-bold pl-3" %><br />
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "py-3 px-5 mt-1 block w-full placeholder-gray-400 border-2 border-primary rounded-lg", placeholder: "6文字以上で入力" %>
            </div>
            <div class="field pt-5">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "py-3 px-5 mt-1 block w-full placeholder-gray-400 border-2 border-primary rounded-lg", placeholder: "パスワード確認を入力" %>
            </div>
            <div class="actions pt-5">
              <%= f.submit "パスワードを変更する", class: "btn btn-primary w-full" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
