<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/1adb650b31.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body class="flex flex-col min-h-screen bg-accent">
    <script>
      window.ENV = {
        GOOGLE_API_KEY: "<%= ENV['GOOGLE_API_KEY'] %>"
      };
    </script>
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div>
      <%= render 'shared/flash_message' %>
    </div>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
